<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
  <!-- component -->
<!-- Header -->
<header>
    <!-- navbar and menu -->
    <nav class="shadow">
  
    <div class="flex justify-between items-center py-6 px-10 container mx-auto">
  
      <div>
        <h1 class="text-2xl font-bold bg-gradient-to-tr from-indigo-600 to-green-600 bg-clip-text text-transparent hover:cursor-pointer">Llantas Max</h1>
      </div>
  
      <div>
        
        <div class="hover:cursor-pointer sm:hidden">
          <spnan class="h-1 rounded-full block w-8 mb-1 bg-gradient-to-tr from-indigo-600 to-green-600"></spnan>
          <spnan class="h-1 rounded-full block w-8 mb-1 bg-gradient-to-tr from-indigo-600 to-green-600"></spnan>
          <spnan class="h-1 rounded-full block w-8 mb-1 bg-gradient-to-tr from-indigo-600 to-green-600"></spnan>
        </div>
       
            
            <h1 class="text-text-gray-600  py-2 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg">Cerrar sesión</h1>
          </div>
        </div>
      </div>
    </div>
    </nav>
  </header>
  <main>
    <!-- section hero -->
    <section>
      <div class="bg-gray-100 sm:grid grid-cols-5 grid-rows-2 px-4 py-6 min-h-full lg:min-h-screen space-y-6 sm:space-y-0 sm:gap-4">
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th class="border border-gray-400">Nombre</th>
                        <th class="border border-gray-400">Apellido paterno</th>
                        <th class="border border-gray-400">Apellido Materno</th>
                        <th class="border border-gray-400">Correo electronico</th>
                        <th class="border border-gray-400">Dirección</th>
                        <th class="border border-gray-400">Telefono</th>
                        <th >Contraseña</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Javier</td>
                        <td>Lopez</td>
                        <td>Hernandez</td>
                        <td>aasce</td>
                        <td>xalapa</td>
                        <td>98765432</td>
                        <td>qwerty</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
            

      </div>
  
    </section>
  
  </main>
</body>
</html>